<!DOCTYPE html>
<html lang="en">
<head>
    <title>Discord List - Home</title>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <div class="container">
        <div class="site-header">
            <div class="logo">
                <img src="images/logo.png" alt="">
            </div>
            <div class="navbar">
                <a href="/" id="active">Home</a>
                <a href="/">Bots</a>
                <a href="/">More</a>
                <div class="login-account">
                    <a href="/">Login</a>
                </div>
            </div>
            <div class="box-text">
                <div class="title">
                    <span>Discord List</span>
                </div>
                <div class="about">
                    <span>Do you want to expand your bot or your server? The Discord List is here for you!</span>
                </div>
                <div class="search">
                    <input type="search" name="search" id="search" placeholder="Search on bots and servers">
                </div>
                <div class="tags">
                    <a href="#"><i class="fas fa-hashtag"></i> Moderation</a>
                    <a href="#"><i class="fas fa-hashtag"></i> Music</a>
                    <a href="#"><i class="fas fa-hashtag"></i> Administration</a>
                    <a href="#"><i class="fas fa-hashtag"></i> Fun</a>
                    <a href="#"><i class="fas fa-hashtag"></i> Security</a>
                    <a href="#"><i class="fas fa-hashtag"></i> Economy</a>
                    <a href="#"><i class="fas fa-hashtag"></i> Anime</a>
                </div>
            </div>
        </div>
        <div class="list-bots">
            <div class="box-text-bots">
                <div class="title-bots">
                    <span>Classified And Verified Bots</span>
                </div>
                <div class="about-bots">
                    <span>The best bots selected by us are below, check it out!</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>