/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Fundo da barra de rolagem */
  ::-webkit-scrollbar-track-piece {
    background-color: #EEE;
    border-left: 1px solid #CCC
  }
  
  /* Cor do indicador de rolagem */
  ::-webkit-scrollbar-thumb:vertical,
  ::-webkit-scrollbar-thumb:horizontal {
    background-color: rgb(211, 39, 91)
  }
  
  /* Cor do indicador de rolagem - ao passar o mouse */
  ::-webkit-scrollbar-thumb:vertical:hover,
  ::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: rgb(211, 39, 91)
  }